[Desktop Entry]
Encoding=UTF-8
Name=Link to (K)StatusNotifierItem/AppIndicator Support - GNOME Shell Extensions
Type=Link
URL=https://extensions.gnome.org/extension/615/appindicator-support/
Icon=text-html
