[Desktop Entry]
Encoding=UTF-8
Name=Link to Arch Linux Updates Indicator - GNOME Shell Extensions
Type=Link
URL=https://extensions.gnome.org/extension/1010/archlinux-updates-indicator/
Icon=text-html
