[Desktop Entry]
Encoding=UTF-8
Name=Link to Coverflow Alt-Tab - GNOME Shell Extensions
Type=Link
URL=https://extensions.gnome.org/extension/97/coverflow-alt-tab/
Icon=text-html
