[Desktop Entry]
Encoding=UTF-8
Name=Link to Dash to Dock - GNOME Shell Extensions
Type=Link
URL=https://extensions.gnome.org/extension/307/dash-to-dock/
Icon=text-html
