[Desktop Entry]
Encoding=UTF-8
Name=Link to Glassy GNOME - GNOME Shell Extensions
Type=Link
URL=https://extensions.gnome.org/extension/982/glassy-gnome/
Icon=text-html
