[Desktop Entry]
Encoding=UTF-8
Name=Link to Impatience - GNOME Shell Extensions
Type=Link
URL=https://extensions.gnome.org/extension/277/impatience/
Icon=text-html
